body{
    font-family:NeueHaasGroteskTextMedium,Arial,Helvetica,sans-serif;
}
.menuHorizontal li{
    float:left;
    margin-right:10px;
    list-style:none;
}
.menuHorizontal li a{
    font-size:12px;
    text-decoration: none;
}
.menuHorizontal li a:hover{
    color:#000000;
}
.activeBar{
    border-top:2px solid #CD040B;
}
/* Begin Generics */
.bold{
    font-weight:bold;
}
.marginLeft{
    margin-left:8%;
}
.floatRight{
    float:right;
}
.floatLeft{
    float:left;
}
.clearRight{
    clear:right;
}
.clearLeft{
    clear:left;
}
.clear{
    clear:both;
}

/* End Generics */

/* Begin Colors */
.navGray *{
    color:#4B4B4B;
}
.red{
    background-color:red;   
}
.green{
    background-color:green;
}
.blue{
    background-color:blue;
}
/* End Colors */